#banner {
  margin: 0;
}

#banner .banner {
  background: #144584;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner .banner h1 {
  font-size: 4rem;
  color: white;
}

body #header .navbar-brand {
  color: #1c529d;
}

body #header .nav-item a {
  color: black;
}

body #header .nav-item a:hover {
  color: #1c529d;
}

body #header .dropdown-menu {
  background-color: #1c529d;
}

body #header .dropdown-menu a {
  color: white;
}

body #header button {
  border: 1px solid #00376b;
  outline: none;
}

body #header button span {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 55, 107)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body #footer {
  background-color: #00376b;
  color: white;
  padding-top: 1.5em;
}

body #footer .f_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #footer .f_c h3 {
  color: #dfb320;
}

body #footer .f_c ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body #footer .f_c ul li {
  padding: 0.5rem 0;
}

body #footer .f_c ul li svg {
  margin: 2px 0px 6px;
}

body #footer .f_c ul li a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body #footer .f_c ul li a:hover {
  color: #f9cc07;
}

body #footer .f_c:nth-child(2) .f_c_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

@media (max-width: 768px) {
  body #footer .f_c:nth-child(2) .f_c_p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  background: #b9d1e5 !important;
}

body ol {
  margin: 0;
  padding: 0em 1em;
}

body #products {
  margin: 1.5em 0;
  color: black;
}

body #products button {
  display: none;
  background-color: #1c529d;
}

@media (max-width: 992px) {
  body #products button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  body #products .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  body #products .products #products_pills.collapse:not(.show) {
    display: none;
  }
}

body #products #products_pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1.5em;
}

@media (max-width: 992px) {
  body #products #products_pills {
    padding: 1.5em 0;
  }
}

body #products #products_pills a {
  color: #000;
}

body #products #products_pills a.active {
  color: white;
  background-color: #1c529d;
}

body #products #products_content {
  padding: 1.5em;
  width: 80%;
}

@media (max-width: 992px) {
  body #products #products_content {
    width: 100%;
    padding: 1.5em 0;
  }
}

body #products #products_content .tab-pane {
  height: 100%;
}

body #products #products_content .tab-pane nav .nav-tabs {
  border-color: #1c529d;
}

body #products #products_content .tab-pane nav .nav-tabs a.active {
  background-color: #dfb320;
  color: black;
  border-color: #1c529d;
}

body #products #products_content .tab-pane nav .nav-tabs a {
  color: black;
}

body #products #products_content .tab-pane nav .nav-tabs a:hover {
  border-color: #1c529d;
}

body #products #products_content .tab-pane .tab-content {
  padding: 1.5em 0;
}

body #products #products_content .tab-pane .tab-content .tab-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body #products #products_content .tab-pane .tab-content .tab-pane ul li {
  margin: 10px 0;
}
/*# sourceMappingURL=footer_product.css.map */