@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body input[type=number] {
  -moz-appearance: textfield;
}

body #header {
  background-color: #eaf4fc;
}

@media (max-width: 992px) {
  body #header {
    padding: 0 !important;
  }
}

body #header .navbar-brand {
  color: #1c529d;
}

body #header .navbar-brand img {
  height: 100px;
  width: 250px;
}

@media (max-width: 992px) {
  body #header .navbar-brand img {
    height: 80px;
    width: 200px;
  }
}

body #header #nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  body #header #nav ul {
    width: 100%;
  }
}

body #header .nav-item a {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: black;
  -webkit-transition: .4s;
  transition: .4s;
  font-weight: 200;
  padding: 1em 1.5em;
}

body #header .nav-item a:hover {
  background-color: #1c529d;
  color: white;
}

body #header .nav-item a:active {
  background-color: #1c529d;
  color: white;
}

body #header .dropdown-menu {
  background-color: #1c529d;
}

body #header .dropdown-menu a {
  color: white;
}

body #header button {
  border: 1px solid #00376b;
  outline: none;
}

body #header button span {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 55, 107)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body #footer {
  background-color: #00376b;
  color: white;
  padding-top: 1.5em;
}

body #footer .f_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #footer .f_c h3 {
  color: #dfb320;
}

body #footer .f_c ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1.5em 0;
  list-style: none;
}

body #footer .f_c ul li {
  padding: 0.5rem 0;
}

body #footer .f_c ul li svg {
  margin: 2px 0px 6px;
}

body #footer .f_c ul li a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body #footer .f_c ul li a:hover {
  color: #f9cc07;
}

body #footer .f_c:nth-child(2) .f_c_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  body #footer .f_c:nth-child(2) .f_c_p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body #footer .credit {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

body #footer .credit a {
  color: white;
}

body {
  font-family: "Varela", sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Playfair Display", serif;
}

body #slider .w-100 {
  height: 400px !important;
}

@media (max-width: 992px) {
  body #slider .w-100 {
    height: 20vh !important;
  }
}

body #slider .image-wrapper {
  height: 250px;
  width: 250px;
}

body #slider .carousel-control-prev:hover {
  background-color: rgba(0, 55, 107, 0.7);
}

body #slider .carousel-control-next:hover {
  background-color: rgba(0, 55, 107, 0.7);
}

body #about {
  color: black;
}

body #about .ab_h {
  display: block;
  text-align: center;
  padding-top: 45px;
}

body #about .ab_h h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  position: relative;
}

body #about .ab_h h1::before {
  top: 50%;
  display: block;
  position: absolute;
  width: 42%;
  content: '';
  height: 4px;
  background-color: grey;
}

@media (max-width: 768px) {
  body #about .ab_h h1::before {
    width: 30%;
  }
}

body #about .ab_h h1::after {
  right: 0;
  top: 50%;
  display: block;
  position: absolute;
  width: 42%;
  content: '';
  height: 4px;
  background-color: grey;
}

@media (max-width: 768px) {
  body #about .ab_h h1::after {
    width: 30%;
  }
}

body #about .about_row {
  padding: 45px 0px;
}

body #about .about_row .about_col_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body #about .about_row .about_col_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body #about .about_row .about_col_1 .agent_pic {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  body #about .about_row .about_col_1 .agent_pic {
    height: 300px;
  }
}

body #about .about_row .about_col_2 {
  font-size: 1rem;
  padding: 1em;
}

@media (max-width: 768px) {
  body #about .about_row .about_col_2 {
    padding: 2em 1em;
  }
}

body #about .about_row .about_col_2 p {
  font-family: "Varela", sans-serif;
  margin: 0;
  line-height: 2;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  body #about .about_row .about_col_2 p {
    line-height: 1.6;
    text-align: justify;
  }
}

body #products .p_h1 {
  display: block;
  text-align: center;
  padding: 1em 0;
}

body #products .p_h1 h1 {
  margin: 0;
  position: relative;
}

body #products .p_h1 h1::before {
  top: 50%;
  display: block;
  position: absolute;
  width: 40%;
  content: '';
  height: 4px;
  background-color: grey;
}

@media (max-width: 768px) {
  body #products .p_h1 h1::before {
    width: 25%;
  }
}

body #products .p_h1 h1::after {
  right: 0;
  top: 50%;
  display: block;
  position: absolute;
  width: 40%;
  content: '';
  height: 4px;
  background-color: grey;
}

@media (max-width: 768px) {
  body #products .p_h1 h1::after {
    width: 25%;
  }
}

body #products .product_row {
  margin: 1.2em 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: pointer;
}

@media (max-width: 992px) {
  body #products .product_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #products .product_row .product {
  margin-top: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

body #products .product_row .product img {
  border-radius: 50%;
}

body #products .product_row .product .product_name {
  margin: 0.5em 0;
  font-size: 2rem;
  font-weight: 600;
}

body #products .product_row .product p {
  margin: 0.5em 0;
  font-size: 1rem;
}

body #products .product_row .product a {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #1c529d;
  color: white;
  border: 1px solid #1c529d;
  text-decoration: none;
}

body #products .product_row .product a svg {
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 2em;
}

body #products .product_row .product a:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

body #products .product_row .product:hover {
  -webkit-box-shadow: 0px 10px 20px 10px rgba(92, 95, 105, 0.25);
          box-shadow: 0px 10px 20px 10px rgba(92, 95, 105, 0.25);
}

body #testimonial {
  background-color: #dfb320;
  margin: 1.2em 0 0;
}

body #testimonial .t_h1 {
  display: block;
  text-align: center;
  text-transform: capitalize;
}

body #testimonial .t_h1 h1 {
  margin: 0;
  padding: 0.5em 0;
  position: relative;
}

body #testimonial .t_h1 h1::before {
  top: 50%;
  display: block;
  position: absolute;
  width: 38%;
  content: '';
  height: 4px;
  background-color: black;
}

@media (max-width: 768px) {
  body #testimonial .t_h1 h1::before {
    width: 20%;
  }
}

body #testimonial .t_h1 h1::after {
  right: 0;
  top: 50%;
  display: block;
  position: absolute;
  width: 38%;
  content: '';
  height: 4px;
  background-color: black;
}

@media (max-width: 768px) {
  body #testimonial .t_h1 h1::after {
    width: 20%;
  }
}

body #testimonial #testimonial_t .carousel-inner {
  height: 200px;
}

@media (max-width: 768px) {
  body #testimonial #testimonial_t .carousel-inner {
    height: 350px;
  }
}

body #testimonial #testimonial_t .carousel-item {
  text-align: center;
}

body #testimonial #testimonial_t .carousel-item p {
  margin: 0.5em 0;
}

body #testimonial #testimonial_t .carousel-item h3 {
  margin: 0.5em 0;
}
/*# sourceMappingURL=index.css.map */