@import './color';
#banner{
    margin: 0;
    .banner{
        background: $banner;
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 4rem;
            color: white;
        }
    }
}