@import './color';
body{
    #header{
        .navbar-brand{
            color: $primary;
        }
        .nav-item{
            a{
                color: black;
                &:hover{
                    color: rgb(28,82,157);
                }
            }
        }
        .dropdown-menu{
            background-color: $primary;
            a{
                color: white;
            }
        }
        button{
            border: 1px solid rgb(0, 55, 107);
            outline: none;
            span{
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 55, 107)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }
}