@import './banner';
@import './color';
@import './header';
@import './footer';

body{
    background-color: $background !important;
    #contact{
        margin: 1.2em 0;
    }
    h3{
        margin: 0 1.2em;
        @media (max-width: 768px){
            margin: 0;
        }
    }
    form{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        @media (max-width: 992px){
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        label{
            color: $primary;
        }
    }
}